body{
	font: 15px/1.5 Arial, Helvetica,sans-serif;
	padding:0;
	margin:0;
	background-color:rgb(199, 196, 196);
  }
  /*Global*/
  .container{
	  width: 80%;
	  margin:auto;
	  overflow:hidden;
  }

  header ul{
	margin: 0;
	padding:0;
}

.text-style{
	font-size: 20;
	color: white;

}

.column-text{
	font-size: 50;
	color:black
}

.img-with-text {
    text-align: justify;
    width: [width of img];
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}

.ul li{
	font-size: 20px;
}
  /*Header*/
  header{
	  background:rgb(14, 14, 73);
	  color:white;
	  padding-top: 30px
	  min-width: height 70px;
	  border-bottom:orange 3px solid;
  }

  header a{
	  color:white;
	  text-decoration:none;
	  text-transform:uppercase;
	  font-size:16px;
  }

  header li{
	  float:left;
	  display:inline;
	  padding:0 35px 0 35px;
  }

  header #branding{
	  text-align: center;
	  font-size: 25px
  }

  header #branding h1{
	  margin:25;
  }

  header nav{
	  float:center;
  }

  header .highlight, header .current a{
	  color:orange;
	  font-weight:bold;
  }

  header a:hover{
	  color:gray;
	  font-weight:bold;
  }

  /*Showcase*/
  #showcase{
	text-align:center;
	color:black;
  }

  #showcase h1{
	  margin-top:100px;
	  font-size:35px;
	  margin-bottom:10px;
  }
  #showcase p{
	  font-size:25px;
  }


  /*Boxes*/
  #boxes{
	margin-top:20px;
  }
  
  #boxes .box{
	float:left;
	text-align: center;
	width:30%;
	padding:10px;
  }
  
  #boxes .box img{
	width:150px;
	}
	
	/*Main-col*/

	#main-col {
		font-size: 25px;
		float:left;
		width:65%;
	}
